%body
	.container
		.content-fluid
			.row-fluid
				.span12
					= render 'layouts/messages'
					= field_set_tag do
						= form_tag( administrar_iglesia_path,{:method=>'post',:class=>'form-horizontal'}) do
							%h2 Iglesia
							%legend
							.row-fluid
								.span4
									.control-group
										= label_tag :creacion, 'Creación', :class=>'control-label' 
										.controls
											= render 'layouts/fecha',  eti: ( @church.nil? ? nil : @church.creacion.strftime("%d/%m/%Y"))
								.span4
									.control-group
										= label_tag :telefono, 'Telefono', :class=>'control-label'
										.controls
											= text_field_tag :telefono, @church.nil? ?  '': @church.telefono , {:class => 'input', :required=>'true' }
							.row-fluid
								= render 'layouts/ubigeo', dist: (@church.nil? ? '': @church.ubigeo_id)

							.row-fluid
								.span8
									.control-group
										= label_tag :direccion,'Dirección', { :class=>'control-label'}
										.controls
											= text_field_tag :direccion, @church.nil? ? '' : @church.direccion , {:class=>'input-xxlarge' , :required=>'true'	}
							.row-fluid
								.span8
									.control-group
										= label_tag :referencia,'Referencia', :class=>'control-label'
										.controls
											= text_field_tag :referencia, @church.nil? ? '' : @church.referencia , { :class=>'input-xxlarge' , :required=>'true'	}

							.row-fluid
								.span6
									.control-group
										=label_tag 'Pastores Ejecutivos'
										.controls
											%select{:multiple=>'multiple', :id=>'pe', :size=>6}
												%option JB
												%option ESR
								.span6
									.control-group
										=label_tag 'Pastores Asociados'
										.controls
											%select{:multiple=>'multiple', :id=>'pa', :size=>6}
												%option JB
												%option ESR
							%legend
							.row-fluid
								.control-group
									= label_tag :ubicacion, 'Ubicación', :class=>'control-label'
									= hidden_field_tag :latitud
									= hidden_field_tag :longitud
									.controls
										- if @church != nil
											= render 'layouts/mapa', lat: @church.latitud, lng: @church.longitud

										- else
											= render 'layouts/mapa', lat: '-8.112489', lng:'-79.0288469'

										
										
							= submit_tag 'Guardar', :class=>'btn btn-primary'

= javascript_include_tag 'util/functiongen'
:javascript
	$(document).ready(function(){

	});