%body
	.container
		.content-fluid
			.row-fluid
				.span12
					= render 'layouts/messages'
					= field_set_tag do
						= form_tag( administrar_red_path,{:method=>'post', :class=>'form-horizontal'}) do
							%h2 Creaci贸n de Red
							%legend

							.row-fluid
								.span4
									.control-group
										= label_tag :red, 'Red', :class=>'control-label'
										.controls
											= text_field_tag :red, @network.nil? ? nil : @network.code ,{ :class=>'input-large', :required=>'true'}
								.span4
									.control-group
										= label_tag :tipo, 'Tipo', :class=>'control-label'
										.controls
											= select_tag :tipo, "<option value='h'>Hombres</option><option value='m'>Mujeres</option><option value='hj'>Hombres Jovenes</option><option value='mj'>Mujeres Jovenes</option><option value='mi'>Mixto</option>".html_safe
								.span4
									.control-group
										= label_tag :creacion, 'Creaci贸n', :class=>'control-label'
										.controls
											= render 'layouts/fecha',  eti: ( @network.nil? ? nil : @network.creacion.strftime("%d/%m/%Y"))

							.row-fluid
								.span4
									.control-group
										= label_tag :lider1, 'Lider(*)', :class=>'control-label'
										.controls
											= select_tag :lider1

								.span4
									.control-group
										= label_tag :lider2, 'Lider', :class=>'control-label'
										.controls
											= select_tag :lider2

								.span4
									.control-group
										= label_tag :pastorE, 'Pastor Ejecutivo', :class=>'control-label'
										.controls
											= select_tag :pastorE

							.row-fluid
								= render 'layouts/ubigeo', dist: (@network.nil? ? '': @network .ubigeo_id)


							.row-fluid
								.span8
									.control-group
										= label_tag :direccion,'Direcci贸n', :class=>'control-label'	
										.controls
											= text_field_tag :direccion, @network.nil? ? '' : @network.direccion , { :class=>'input-xxlarge', :required=>'true' }
							.row-fluid
								.span8
									.control-group
										= label_tag :referencia,'Referencia', :class=>'control-label'
										.controls
											= text_field_tag :referencia, @network.nil? ? '' : @network.referencia , :class=>'input-xxlarge'
							%legend
							.row-fluid
								.control-group
									= label_tag :ubicacion, 'Ubicaci贸n', :class=>'control-label'

									.controls
										- if @church != nil
											= render 'layouts/mapa', lat: @network.latitud, lng: @network.longitud

										- else
											= render 'layouts/mapa', lat: '-8.112489', lng:'-79.0288469'

							= submit_tag 'Guardar', :class=>'btn btn-primary'