%body
	.container
		.content-fluid
			.row-fluid
				.span12
					= render 'layouts/messages'
					= field_set_tag do
						= form_tag( administrar_red_path,{:method=>'post', :class=>'form-horizontal'}) do
							%h2 Creaci贸n de Red
							%legend

							.row-fluid
								.span4
									.control-group
										= label_tag :red, 'Red', :class=>'control-label'
										.controls
											= text_field_tag :red,'' , :class=>'input-large'
								.span4
									.control-group
										= label_tag :tipo, 'Tipo', :class=>'control-label'
										.controls
											= select_tag :tipo, "<option value='h'>Hombres</option><option value='m'>Mujeres</option><option value='hj'>Hombres Jovenes</option><option value='mj'>Mujeres Jovenes</option><option value='mi'>Mixto</option>".html_safe
								.span4
									.control-group
										= label_tag :creacion, 'Creaci贸n', :class=>'control-label'
										.controls
											= render 'layouts/fecha'

							.row-fluid
								.span4
									.control-group
										= label_tag :lider1, 'Lider(*)', :class=>'control-label'
										.controls
											= select_tag :lider1

								.span4
									.control-group
										= label_tag :lider2, 'Lider', :class=>'control-label'
										.controls
											= select_tag :lider2

								.span4
									.control-group
										= label_tag :pastorE, 'Pastor Ejecutivo', :class=>'control-label'
										.controls
											= select_tag :pastorE

							.row-fluid
								.span8
									.control-group
										= label_tag :direccion,'Direcci贸n', :class=>'control-label'	
										.controls
											= text_field_tag :direccion,'' , :class=>'input-xxlarge'
							.row-fluid
								.span8
									.control-group
										= label_tag :referencia,'Referencia', :class=>'control-label'
										.controls
											= text_field_tag :referencia,'' , :class=>'input-xxlarge'

							.row-fluid
								.control-group
									= label_tag :ubicacion, 'Ubicaci贸n', :class=>'control-label'
									= hidden_field_tag :latitud
									= hidden_field_tag :longitud
									.controls
										= render 'layouts/mapa'

							= submit_tag 'Guardar', :class=>'btn'