%body
	.container
		.content-fluid
			.row-fluid
				.span12
					= render 'layouts/messages'
					= field_set_tag do
						= form_tag( ganar_search_path,{:method=>'post',:class=>'form-horizontal'}) do
						
							%legend Busqueda
							.row-fluid
								.span8.form-horizontal
									.control-group
										= label_tag :nombres,'Nombres o Apellidos', :class=>'control-label'
										.controls
											= text_field_tag :nombres,'', :class=>'input-xxlarge'

								.span4
									.control-group
										.controls
											= submit_tag 'Buscar', :class=>'btn btn-primary'

							.row-fluid
							
								.span3.form-inline#all
									= label_tag :todos,'Todos', :class=>'checkbox'
									= check_box_tag 'todos'															
									
								.span3#network_all

									.form-inline
										= label_tag :red,'Red', :class=>'checkbox'
										=check_box_tag 'red'
									.row-fluid#networks				
										= red_for_select()
								.span6
									.form-inline
										= label_tag :fecha, 'Fechas', :class=>'checkbox'
										= check_box_tag 'fecha'
									.row-fluid#rango
										.span3.offset2
											= field_set_tag do
												= label_tag :desde,'Desde', :class=>'control-label'

												= render 'layouts/fecha', eti: ( @person.nil? ? nil : @person.creacion.strftime("%d/%m/%Y"))
										.span3.offset2
											= field_set_tag do
												= label_tag :hasta, 'Hasta', :class=>'control-label'
												= render 'layouts/fecha1', eti: ( @person.nil? ? nil : @person.creacion.strftime("%d/%m/%Y"))
							%legend
								
						

= javascript_include_tag 'util/functiongen'
:javascript
	$(document).ready(function(){

		$('#rango').css({'display':'none'});
		$('#networks').css({'display':'none'});

		$('#fecha').change(function(){
			if($(this).is(':checked'))
				$('#rango').css({'display':'block'});
			else $('#rango').css({'display':'none'});
		});

		$('#red').change(function(){
			if($(this).is(':checked'))
			{
				$('#networks').css({'display':'block'});
				$('#all').css({'display':'none'});
				$('#todos').prop("checked",false);
			}
			else {
				$('#networks').css({'display':'none'});
				$('#all').css({'display':'block'});
			}
		});

		$('#todos').change(function(){
			if($(this).is(':checked'))
			{
				$('#network_all').css({'display':'none'});
				$('#red').prop("checked",false);
			}
			else
			{
				$('#network_all').css({'display':'block'});
			}
		});
	});