%body
	.container
		.content-fluid
			.row-fluid
				.span12
					= render 'layouts/messages'

					.row-fluid
						.span6
							= field_set_tag do						
								%h2 Lugar
								%legend
								.row-fluid
									.span3

										.row-fluid
											%table#lugar.display.table.table-striped.table-bordered{:border => "0", :cellpadding => "0", :cellspacing => "0", :name => "lugar"}
												%thead
													%tr
														%th Lugar
													
												%tbody
													-@lugar.each do |lu|
														%tr
															%td
																= lu.nombre

									.span3

										= form_tag( ganar_lugar_path,{:method=>'post',:class=>'form-horizontal'}) do
											.row-fluid
												.control-group
													= label_tag :place, 'Nombre', :class=>'control-label'
													.controls
														= text_field_tag :place,'',:class=>'input'
									
												.control-group
													.controls
														= submit_tag 'Guardar', :class=>'btn btn-primary'

						.span6
							= field_set_tag do
						
								%h2 Estado Civil
								%legend
								.row-fluid
									.span3

										.row-fluid
											%table#lugar.display.table.table-striped.table-bordered{:border => "0", :cellpadding => "0", :cellspacing => "0", :name => "lugar"}
												%thead
													%tr
														%th Lugar
													
												%tbody
													- @es.each do |e|
														%tr
															%td 
																= e.nombre

									.span3

										= form_tag( ganar_escivil_path,{:method=>'post',:class=>'form-horizontal'}) do
											.row-fluid
												.control-group
													= label_tag :nombre, 'Nombre', :class=>'control-label'
													.controls
														= text_field_tag :nombre,'',:class=>'input'
									
												.control-group
													.controls
														= submit_tag 'Guardar', :class=>'btn btn-primary'
					.row-fluid
						= field_set_tag do
						
							%h2 Edades
							%legend
							.row-fluid
								.span6

									.row-fluid
										%table#lugar.display.table.table-striped.table-bordered{:border => "0", :cellpadding => "0", :cellspacing => "0", :name => "lugar"}
											%thead
												%tr
													%th Regla
													%th Desde
													%th Hasta
													%th Estado Civil
												
											%tbody
												- @regla.each do |r|
													%tr 
														%td
															= r.regla
														%td 
															= r.desde
														%td
															= r.hasta
														%td 
															- @e = EstadoCivil.where(id: r.estado_civil_id).take
															= (@e.nil? ? '': @e.nombre)
												
								.span6

									= form_tag( ganar_regla_path,{:method=>'post',:class=>'form-horizontal'}) do
										.row-fluid
											.control-group
												= label_tag :regla, 'Regla', :class=>'control-label'
												.controls
													= text_field_tag :regla,'',:class=>'input'

											.control-group
												= label_tag :estadocivil, 'Estado Civil (*)', :class=>'control-label'
												.controls
													= estados_for_select()

										.row-fluid
											.span6
												.control-group
													= label_tag :desde,'Desde', :class=>'control-label'
													.controls
														= number_field_tag :desde, '0', :in => 0...150
												.control-group
													= label_tag :hasta,'Hasta', :class=>'control-label'
													.controls
														= number_field_tag :hasta, '0', :in => 0...150
												
										.row-fluid
											.span6
									
											.control-group
												.controls
													= submit_tag 'Guardar', :class=>'btn btn-primary'


							
								
						

= javascript_include_tag 'util/functiongen'
:javascript
	$(document).ready(function(){

	});