%body
	.container-fuild
		.content
			.row-fluid
				.span12
					= render 'layouts/messages'
					%h2 Ganar
					%legend Datos personales
					= form_tag( ganar_registro_save_path,{:method=>'post',:class=>'form-horizontal'}) do
						= field_set_tag do
							.row-fluid
								.span4								
									.control-group
										= label_tag :nombres, 'Nombres ', :class=>'control-label'
										.controls
											= text_field_tag :nombres, '', :class => 'input'
								
								.span4
									.control-group
										= label_tag :apellidos, 'Apellidos ', :class=>'control-label'
										.controls
											= text_field_tag :apellidos, '', :class => 'input'
								.span4
									.control-group
										= label_tag :edad, 'Edad ', :class=>'control-label'
										.controls
											= number_field_tag :edad,'0',:class=>'input-medium', :min=>0, :max=>120
								
							.row-fluid
								.span4
									.control-group
										= label_tag :ecivil, 'Estado Civil',:class=>'control-label'
										.controls
											= estado_civil_for_select()
								
								.span4
									.control-group
										= label_tag :sexo, 'Sexo', :class=>'control-label'
										.controls
											= select_tag :sexo, "<option value='M'>Masculino</option><option value='F'>Femenino</option>".html_safe
									
								.span4
									.control-group
										= label_tag :creacion, 'F. Nacimiento', :class=>'control-label'
										.controls
											= render 'layouts/fecha',  eti: ( @person.nil? ? nil : @person.creacion.strftime("%d/%m/%Y"))
							.row-fluid
								.span4
									.control-group
										= label_tag :dni, 'DNI', :class=>'control-label'
										.controls
											= text_field_tag :dni,'',:class=>'input'

								.span4
									.control-group
										= label_tag :ocupacion, 'Ocupación', :class=>'control-label'
										.controls
											= text_field_tag :ocupacion, '', :class=>'input'
								.span4
									.control-group
										= label_tag :profesion, 'Profesión', :class=>'control-label'
										.controls
											= text_field_tag :profesion,'', :class=>'input-medium'
						%legend Telefonos
						= field_set_tag do
							.row-fluid
								.span4
									.control-group
										= label_tag :casa, 'Casa', :class=>'control-label'							
										.controls
											= text_field_tag :casa, '', :class=>'input'
								.span4
									.control-group
										= label_tag :celular, 'Celular', :class=>'control-label'
										.controls
											= text_field_tag :celular, '', :class=>'input'
								.span4
									.control-group
										= label_tag :tipo, 'Tipo', :class=>'control-label'
										.controls
											= select_tag :tipo, "<option value='M'>Movistar</option><option value='MR'>RPM</option><option value='C'>Claro</option><option value='RC>RPC</option><option value='N'>Nextel</option>".html_safe
							.row-fluid
								.span4
									.control-group
										= label_tag :oficina, 'Oficina', :class=>'control-label'
										.controls
											= text_field_tag :oficina, '', :class=>'input'
								.span4
									.control-group
										= label_tag :celular1, 'Celular', :class=>'control-label'
										.controls
											= text_field_tag :celular1, '', :class=>'input'
								.span4
									.control-group
										= label_tag :tipo1, 'Tipo', :class=>'control-label'
										.controls
											= select_tag :tipo1, "<option value='M'>Movistar</option><option value='MR'>RPM</option><option value='C'>Claro</option><option value='RC'>RPC</option><option value='N'>Nextel</option>".html_safe

						%legend
						= field_set_tag do
							.row-fluid
								.span4
									.control-group
										= label_tag :email, 'Email', :class=>'control-label'
										.controls
											= text_field_tag :email, '', :class=>'input'
								.span2

								.span6
									%i{:class=>'icon-home'}
									%i{:class=>'icon-home'}
									%i{:class=>'icon-home'}

						%legend Iglesia
						= field_set_tag do
							.row-fluid
								.span4
									.control-group
										= label_tag :estado, 'Estado', :class=>'control-label'
										.controls
											= select_tag :estado, "<option value='N'>Nuevo Convertido</option> <option value='C'>Convertido</option>".html_safe
								.span4
									.control-group
										= label_tag :red, 'Red', :class=>'control-label'
										.controls
											= red_for_select()

								.span4
									.control-group
										= label_tag :lugar, 'Lugar', :class=>'control-label'
										.controls
											= lugar_for_select()
							.row-fluid
								.span4
									.control-group
										= label_tag :visita,'Día visita', :class=>'control-label'
										.controls
											= select_tag :visita, "<option value='L'>Lunes</option> <option value='M'>Martes</option><option value='X'>Miercoles</option><option value='J'>Jueves</option><option value='V'>Viernes</option><option value='S'>Sabado</option><option value='D'>Domingo</option>".html_safe

								.span4
									.control-group
										= label_tag :hora, 'Hora visita', :class=>'control-label'
										.controls
											= time_field_tag :hora, '00:00:00', :class=>'input'
								.span4
									.control-group
										= label_tag :convertido,'Fecha Conversión', :class=>'control-label'
										.controls
											= render 'layouts/fecha1',  eti: ( @person.nil? ? nil : @person.creacion.strftime("%d/%m/%Y"))
							.row-fluid
								.control-group
									= label_tag :invitado,'Invitado por', :class=>'control-label'
									.controls
										= text_field_tag :invitado,'', :class=>'input-xxlarge'

							.row-fluid
								.control-group
									= label_tag :oracion, 'Petición', :class=>'control-label'
									.controls
										= text_field_tag :oracion, '', :class=>'input-xxlarge'


						%legend Dirección
						= field_set_tag do
							.row-fluid
								= render 'layouts/ubigeo', dist: (@person.nil? ? '': @person.ubigeo_id)
							.row-fluid
								.span4
									.control-group
										= label_tag :direccion, 'Dirección', :class=>'control-label'
										.controls
											= text_field_tag :direccion, '', :class=>'input-xlarge'
								.span4
									.control-group
										= label_tag :referencia, 'Referencia', :class=>'control-label'
										.controls
											= text_field_tag :referencia, '', :class=>'input-xlarge'
							.row-fluid
								- if @person != nil
									= render 'layouts/mapa', lat: @person.latitud, lng: @person.longitud

								- else
									= render 'layouts/mapa', lat: '-8.112489', lng:'-79.0288469'

						= submit_tag 'Guardar', :class=>'btn btn-primary'


= javascript_include_tag 'util/functiongen'
:javascript
	$(document).ready(function(){

	});